@media (max-width: 500px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    width: 70vw;
    margin-bottom: 8vw;
    left: 10%;
  }
  .lft {
    right: 50%;
    top: 100%;
    font-size: 6vw;
  }
  .rght {
    left: 0%;
    font-size: 6vw;
    top: 0%;
  }
  .descr > p {
    font-size: 3vw;
  }
}
