@media (max-width: 1000px) {
  .desc > p {
    font-size: 2vw;
  }
  .hello > p {
    font-size: 2.5vw;
  }
}
@media (max-width: 600px) {
  .hero {
    height: 80vh;
    padding-top: 10vh;
  }
  .name {
    font-size: 20vw;
  }
  .hello > p {
    font-size: 3.5vw;
  }
  .hello {
    margin-bottom: 5vh;
  }
  .desc {
    padding-top: 3vh;
    margin-left: 8vw;
    margin-right: 8vw;
  }
  .desc > p {
    font-size: 2.5vw;
  }
}
