.hero{
  
}
@media (max-width: 1000px) {
  .desc > p {
    font-size: 2vw;
  }
  #hello > p {
    font-size: 5vw;
  }
}
@media (max-width: 600px) {
  /* .hero {
    height: 80vh;
    padding-top: 10vh;
  } */

  #nameprem {
    font-size: 26vw;
  }
  #hello > p {
    font-size: 3.5vw;
  }
  #hello {
    margin-bottom: 5vh;
  }
  .desc {
    /* padding-top: 3vh; */
    margin-left: 3vw;
    margin-right: 2vw;
  }
  .desc > p {
    font-size: 2.5vw;
  }
}

@media (max-width: 400px) {
  .hero {
    min-height: fit-content;
  }
  #nameprem {
    width: 100%;
    font-size: 25.1vw;
  }
  .desc {
    /* padding-top: 3vh; */
    margin-left: 4vw;
    margin-right: 0;
    padding: 0;
  }
  .desc > p {
    font-size: 90vw;
  }

  #hello > p {
    font-size: 6vw;
  }
  #nameprem {
    /* margin-top: 24vw; */
  }
}

@media (max-width: 500px) {
  .hero {
    min-height: fit-content;
  }
  #nameprem {
    width: 100%;
    font-size: 24vw;
  }
  .desc {
    /* padding-top: 3vh; */
    margin-left: 4vw;
    margin-right: 0;
    padding: 0;
  }
  .desc > p {
    font-size: 3vw;
  }

  #hello > p {
    font-size: 6vw;
  }
  #nameprem {
    /* margin-top: 22vw; */
  }
}
