@media (max-width: 1000px) {
  .desc > p {
    font-size: 2vw;
  }
  .hello > p {
    font-size: 2.5vw;
  }
}
@media (max-width: 600px) {
  .hero {
    height: 80vh;
    padding-top: 10vh;
  }

  #nameprem {
    font-size: 26vw;
  }
  .hello > p {
    font-size: 3.5vw;
  }
  .hello {
    margin-bottom: 5vh;
  }
  .desc {
    padding-top: 3vh;
    margin-left: 3vw;
    margin-right: 2vw;
  }
  .desc > p {
    font-size: 2.5vw;
  }
}

@media (max-width: 500px) {
  #name {
    background-color: red;
  }
  #nameprem {
    font-size: 26vw;
  }
  .desc {
    padding-top: 3vh;
    margin-left: 4vw;
    margin-right: 0;
    padding: 0;
  }
}
