@keyframes spin-circle {
  from {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}

.animate-spin-circle {
  animation: spin-circle 5s linear infinite;
}

.circle {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 100vw;

  justify-content: center;
}

.logo {
  position: absolute;

  background: url("https://t4.ftcdn.net/jpg/02/97/19/75/360_F_297197561_4dh7GE3s6NFJXkd1OLSfSZsO6XjnwFFq.jpg");
  background-size: cover;
  border-radius: 100vw;
  background-position: center;
}

.text {
  position: absolute;
  width: 100%;
  height: 170%;
  font-family: consolas;
  color: #000;
  animation: textRotation 8s linear infinite;
}

@keyframes textRotation {
  to {
    transform: rotate(300deg);
  }
}

.text span {
  position: absolute;
  left: 50%;
  font-size: 1vw;
  transform-origin: 0 6vw;
}

@media (max-width: 600px) {
}
