@media (max-width: 1000px) {
  ul {
    font-size: 1.4vw;
  }
}
@media (max-width: 600px) {
  ul {
    font-size: 2vw;
  }
}
.wrapper:hover {
  transform: perspective(1800px) rotateX(30deg);
  transition: all 0.7s ease;
}
